html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-image: url('/citybus.jpg') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 100vh !important;
}
body::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(255 255 255 / 48%);
  z-index: -1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-main {
  min-height: calc(100vh - 90px);
}
.app-footer {
  background-color: #9fafbfe6;
  border-top: 1px solid #ffffff8f;
  color: #ffffff;
}
.app-footer a {
  color: #ffffff;
  text-decoration: underline;
}

.citybus-from {
  position: relative;
}
.citybus-from::before {
  content: "";
  position: absolute;
  left: -18px;
  top: 32px;
  height: 40px;
  border: 1px dashed;
  border-color: var(--chakra-colors-purple-500);
}
.citybus-fieldset {
  border: 2px solid var(--chakra-colors-purple-500);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.citybus-legend {
  padding: 0.2rem 1rem;
  border-radius: 5px;
  color: white;
  background-color: var(--chakra-colors-purple-500);
  font-weight: bold;
}